nav ul li a {
    background-color: #444;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #666;
}

figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; 
}

footer p {
    font-size: 0.9rem;
}


nav ul li a.active {
    background-color: #555;
    font-style: italic;
}