:root {
    --primary-color: #3498db;
    --text-color: #333;
    --background-color: #f4f4f4;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    font-size: 1.5em;
}

h2 {
    background-color: #3498db;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    width: 100%;
    height: 500px;
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
}


.info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 250px;


}

.details {
    width: 30%;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.details h2 {
    text-align: left;
    margin-bottom: 20px;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    margin: 10px 0;
    text-align: left;
}

.weather {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--white);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-icon::after {
    content: "⛅";
    font-size: 1.5em;
    margin-left: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
}

/* Responsive Design */
@media (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .details {
        width: 80%;
        margin-bottom: 20px;
    }

    .hero {
        height: 300px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em;
    }

    .weather {
        font-size: 1em;
    }
}