:root {
    --primary-color: #3498db;
    --text-color: #333;
    --background-color: #f4f4f4;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    font-size: 1.5em;
}

.hero img {
    width: 100%;
    height: auto;
}

.weather {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--white);
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-icon::after {
    content: "⛅";
    font-size: 1.5em;
    margin-left: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
}